.clearfix {
    overflow: auto;
}
.header{
    text-align: center;
    color: blue;
    border: 1px;
    border-color: red;
    border-style: solid;
    width: 100%;
}
.footer{
    text-align: center;
    color: blue;
    border: 1px;
    border-color: red;
    border-style: solid;
    width: 100%;
}
.main{
    width: 100%;
    border: 1px;
    border-style: solid;
    border-color: blue;
    text-align: center;
    font-size: 36px;
    font-weight: bold; 
}
.aboutus{
    width: 100%;
    border: 1px;
    border-style: solid;
    border-color: blue;
    text-align: center;
    font-size: 18px;; 
}
.card{
    width: 220px;
    height: 320px;
    float: left;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 7px;
}
.face .backed{
    visibility: visible;
}
.solve{
    visibility: hidden;
}
.counter{
    margin: 3px 3px 3px 3px;
    border: 2px;
    border-style: ridge;
    
}