<div class="display">
    <div class="clearfix  tacentre user">
        <img src="app/resources/{{compCounter.user.avatar}}" />
        <div>
            <p class="nop">{{compCounter.user.name}}</p>
        </div>
    </div>
    <div class="counter tacentre clearfix">
        <div class="count  tacentre ok">
            <span>OK: {{compCounter.score[0]}}</span>
        </div>
        <div class="count  tacentre ko">
            <span>KO: {{compCounter.score[1]}}</span>
        </div>
    </div>
</div>