<div class="tacentre clearfix">
    <p class="registre">Registro</p>
    <p class="registre" ng-class="compUsfile.js_class_message">{{compUsfile.message}}</p>
    <div ng-model="compUsfile.userform">
        <p><label for="name"> Name: </label><input type="text" autofocus required ng-model="compUsfile.userform.name" ng-class="compUsfile.js_class_name"></p>
        <p>{{compUsfile.userform.name}}</p>
        <p><label for="email"> E-Mail: </label><input type="email" required ng-model="compUsfile.userform.email" ng-class="compUsfile.js_class_email"></p>
        <p>{{compUsfile.userform.email}}</p>

        <label for="avatar">Avatar</label>
        <div class="radavatar clearfix " ng-class="compUsfile.js_class_avatar">
            <div class="avatarcss ">
                <input name="avatar" type="radio" ng-model="compUsfile.userform.avatar" value="Bat.jpg" /> THE BAT-MAN
                <p>
                    <img src="app/resources/Bat.jpg">
                </p>
            </div>
            <div class="avatarcss mar-l-avat">
                <input name="avatar" type="radio" ng-model="compUsfile.userform.avatar" value="goku.jpg" /> SON GOKU
                <p>
                    <img src="app/resources/goku.jpg">
                </p>
            </div>
            <div class="avatarcss mar-l-avat terminator">
                <input name="avatar" type="radio" ng-model="compUsfile.userform.avatar" value="Terminator.jpg" /> T-1000
                <p>
                    <img src="app/resources/Terminator.jpg">
                </p>
            </div>
        </div>
        <input type="submit" ng-click="compUsfile.addForm()" value="Añadir y a jugar...">
    </div>