<div class="form clearfix">
    <!--      <p> Name: <input type="text" ng-model="compUsfile.name" ng-class="compUsfile.clase ? 'class-if-true' : 'class-if-false'"></p> -->
    <h1>registro</h1>

    <p> Name: <input type="text"  autofocus required ng-model="compUsfile.name" ng-class="compUsfile.clase"></p>{{compUsfile.name}}
    <p><label for="email"> E-Mail: </label><input type="email" required ng-model="compUsfile.email" ng-class="compUsfile.clase"></p>{{compUsfile.email}}

    <label for="avatar">Avatar</label>
    <div class="radavatar clearfix">

        <div class="avatarcss">
            <input name="avatar" type="radio" ng-model="compUsfile.avatar" value="1" /> THE BAT-MAN
            <p>
                <img src="app/resources/Bat.jpg">
            </p>
        </div>
        <div class="avatarcss mar-l-avat">
            <input name="avatar" type="radio" ng-model="compUsfile.avatar" value="2" /> SON GOKU
            <p>
                <img src="app/resources/goku.jpg">
            </p>
        </div>
        <div class="avatarcss mar-l-avat">
            <input name="avatar" type="radio" ng-model="compUsfile.avatar" value="3" /> T-1000
            <p>
                <img src="app/resources/Terminator.jpg">
            </p>
        </div>
    </div>
    <input type="submit" ng-click="compUsfile.addForm()" value="Añadir">
</div>